body { color: black; background-color: white; }
p {}
td {}
a:link { color: #f63 ; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 14px; margin: 10px; }
a:visited { color: #ee9d0d ; font-size: 10px; line-height: 14px; margin: 10px; }
a:hover { color: #f33 ; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 14px; text-decoration: underline; margin: 10px; }
a:active { color: red ; font-size: 10px; margin: 10px; }
.main { color: gray; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 16px; margin: 12px; }
h1 { color: white; font-size: 24px; font-family: Georgia, "Times New Roman", Times, serif; font-weight: lighter; margin: 12px 12px 12px 10px; }
h2 { color: #69c; font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 15px; margin: 0 12px; }
h3 { color: #999; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: lighter; font-style: italic; line-height: 14px; margin: 0 12px; }
h4 { color: gray; font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 15px; margin: 12px; }
ul { line-height: 16px; list-style-type: disc; margin: 1em 0 1em 40px; }
